################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/WebApi/.vs/WebApi/FileContentIndex/97d47c82-ba93-4811-bae1-a11516c48d68.vsidx
/.vs
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/WebApi.dll
/Dynamic CRM Integration Web API/.vs
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/WebApi.exe
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/WebApi.pdb
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/ref/WebApi.dll
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/apphost.exe
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/refint/WebApi.dll
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.AssemblyInfo.cs
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.AssemblyInfoInputs.cache
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.assets.cache
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.csproj.FileListAbsolute.txt
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.dll
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.genruntimeconfig.cache
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.pdb
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.sourcelink.json
/Dynamic CRM Integration Web API/WebApi/obj/project.assets.json
/Dynamic CRM Integration Web API/WebApi/obj/project.nuget.cache
/Dynamic CRM Integration Web API/WebApi/obj/WebApi.csproj.nuget.dgspec.json
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.csproj.CoreCompileInputs.cache
/Dynamic CRM Code/.vs/DESNZ-CHPQA CRM/FileContentIndex/2644b9dd-4782-4e0c-83f4-f01202c3120f.vsidx
/Dynamic CRM Code/.vs/DESNZ-CHPQA CRM/v17/.suo
/Dynamic CRM Data Migration/.vs/DESNZ CHPQA Data Migration
/Dynamic CRM Data Migration/DESNZ CHPQA Data Migration/bin/Debug/net8.0
/Dynamic CRM Data Migration/DESNZ CHPQA Data Migration/obj/Debug/net8.0
/Dynamic CRM Data Migration/.vs/ProjectEvaluation
/Dynamic CRM Data Migration/DESNZ CHPQA Data Migration/App.config
/Dynamic CRM Integration Web API/WebApi/appsettings.json
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/appsettings.json
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/SendGrid.dll
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/StarkbankEcdsa.dll
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Annotations.dll
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/WebApi.deps.json
/Dynamic CRM Integration Web API/WebApi/Properties/PublishProfiles/proxy-chpqa-dev - FTP.pubxml
/Dynamic CRM Integration Web API/WebApi/Properties/PublishProfiles/proxy-chpqa-dev - FTP.pubxml.user
/Dynamic CRM Integration Web API/WebApi/Properties/PublishProfiles/proxy-chpqa-dev - Web Deploy.pubxml
/Dynamic CRM Integration Web API/WebApi/Properties/PublishProfiles/proxy-chpqa-dev - Web Deploy.pubxml.user
/Dynamic CRM Integration Web API/WebApi/Properties/PublishProfiles/proxy-chpqa-dev - Zip Deploy.pubxml
/Dynamic CRM Integration Web API/WebApi/Properties/PublishProfiles/proxy-chpqa-dev - Zip Deploy.pubxml.user
/Dynamic CRM Integration Web API/WebApi/obj/Release/net8.0
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/ApiEndpoints.json
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.csproj.AssemblyReference.cache
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.csproj.Up2Date
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.MvcApplicationPartsAssemblyInfo.cs
/Dynamic CRM Integration Web API/WebApi/obj/WebApi.csproj.nuget.g.props
/Dynamic CRM Integration Web API/WebApi/bin/Release/net8.0
/Dynamic CRM Integration Web API/WebApi
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/appsettings.json
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/WebApi.deps.json
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.csproj.AssemblyReference.cache
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/WebApi.MvcApplicationPartsAssemblyInfo.cs
/Dynamic CRM Integration Web API/WebApi/obj/WebApi.csproj.nuget.g.props
/Dynamic CRM Integration Web API/WebApi/appsettings.json
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/Dynamic CRM Integration Web API/WebApi/appsettings.Development.json
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/appsettings.Development.json
/Dynamic CRM Integration Web API/WebApi/appsettings.json
/Dynamic CRM Data Migration/DESNZ CHPQA Data Migration/obj/DESNZ CHPQA Data Migration.csproj.nuget.dgspec.json
/Dynamic CRM Data Migration/DESNZ CHPQA Data Migration/obj/DESNZ CHPQA Data Migration.csproj.nuget.g.props
/Dynamic CRM Data Migration/DESNZ CHPQA Data Migration/obj/project.assets.json
/Dynamic CRM Data Migration/DESNZ CHPQA Data Migration/obj/project.nuget.cache
/Dynamic CRM Integration Web API/WebApi/obj/Debug/net8.0/staticwebassets.build.json
/Dynamic CRM Integration Web API/WebApi/WebApi.csproj
.env
/chpqa-keycloak/.env
/Dynamic CRM Data Migration/DESNZ CHPQA Data Migration/App.config
/Dynamic CRM Integration Web API/WebApi/Controllers/GetAssessorSubmissionGroups.cs
/Dynamic CRM Integration Web API/WebApi/Contracts/ReplySchemeLocationDetails.cs
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/cs/System.Private.ServiceModel.resources.dll
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/de/System.Private.ServiceModel.resources.dll
/Dynamic CRM Integration Web API/WebApi/bin/Debug/net8.0/es/System.Private.ServiceModel.resources.dll
/Dynamic CRM Data Migration/DESNZ CHPQA Data Migration/App.config
