<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" aria-live="polite">
    <nav aria-label="Back">
      <a (click)="goBack()" class="govuk-back-link govuk-!-margin-top-5 govuk-!-margin-bottom-5">Back</a>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Combined Heat and Power Quality Assurance programme: privacy notice</h1>

    <p class="govuk-body">
      This notice sets out how we will process your personal data, and your rights. It is made under Articles 13 and 14 of the UK General Data Protection
      Regulation (UK GDPR).
    </p>
    <p class="govuk-body">
      The Combined Heat and Power Quality Assurance (CHPQA) programme is administered by two third party organisations: Ricardo Energy and Environment and ICF
      Consulting Services Limited (who process personal data on behalf of the Department for Energy Security and Net Zero (DESNZ)). DESNZ is the data controller
      for your personal data.
    </p>

    <h2 class="govuk-heading-m">What personal data we process</h2>
    <p class="govuk-body">We will collect and process some personal data if you visit our site or contact us by phone or email. This includes your:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>first and last name</li>
      <li>email address</li>
      <li>telephone number</li>
      <li>fax number (if applicable)</li>
      <li>organisation name</li>
      <li>contact postal address (if this is your place of residence and not a commercial address)</li>
    </ul>

    <p class="govuk-body">
      Participating in the programme is voluntary but if you wish to gain access to any of the financial benefits offered, the data above must be provided so
      that we can process your application.
    </p>

    <h2 class="govuk-heading-m">Purpose for processing</h2>

    <p class="govuk-body">
      We will only use your personal information to administer your account, and any applications associated with your account (for example, to verify an
      application), or to contact you about:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>queries with your application that need clarifying</li>
      <li>an audit if your scheme is selected</li>
      <li>changes in government policy or the CHPQA programme</li>
      <li>future training events</li>
      <li>user research and testing opportunities</li>
    </ul>

    <h2 class="govuk-heading-m">Legal basis for processing</h2>

    <p class="govuk-body">The legal basis for processing your personal data under Article 6 of the UK GDPR is:</p>
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">1(e) Public task:</span>
      Processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the data
      controller.
    </p>
    <p class="govuk-body">
      In this instance the scheme aims to monitor, assess and improve the quality of UK Combined Heat and Power and to ensure that fiscal benefits associated
      with CHP facilities are in line with environmental performance. The task is to submit user registration, scheme registration, annual data returns and
      variations to schemes.
    </p>

    <h2 class="govuk-heading-m">Recipients</h2>

    <p class="govuk-body">Your data may be shared with:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        contractors who act as our agents for administering the scheme, including Ricardo Energy and Environment and ICF Consulting Services Limited (who
        process personal data on behalf of DESNZ)
      </li>
      <li>our internet security providers</li>
      <li>contractors who manage the IT systems administration of the service</li>
      <li>the devolved governments, HMRC and other government departments and public bodies associated with the CHPQA programme</li>
    </ul>

    <p class="govuk-body">We will share your data if we are required to do so by law - for example, by court order, or to prevent fraud or other crime.</p>

    <h2 class="govuk-heading-m">How long we keep your data for</h2>
    <p class="govuk-body">
      Your personal data will be retained for as long as is reasonably necessary to fulfil the purposes we collected it for. This will be for at least 7 years
      (from scheme submission) and may be extended, for example, in circumstances of suspected fraud.
    </p>

    <h2 class="govuk-heading-m">Children’s privacy protection</h2>
    <p class="govuk-body">
      Our services are not designed for, or intentionally targeted at, children 13 years of age or younger. We do not intentionally collect or maintain data
      about anyone under the age of 13
    </p>

    <h2 class="govuk-heading-m">International transfers</h2>
    <p class="govuk-body">Your data is processed and stored in the UK.</p>

    <h2 class="govuk-heading-m">Your rights</h2>
    <p class="govuk-body">You have the right:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>to request information about how your personal data is processed, and to request a copy of that personal data</li>
      <li>to request that any inaccuracies in your personal data are rectified without delay</li>
      <li>to request that any incomplete personal data is completed, including by means of a supplementary statement</li>
      <li>to request that your personal data is erased if there is no longer a justification for it to be processed</li>
      <li>in certain circumstances (for example, where accuracy is contested) to request that the processing of your personal data is restricted</li>
      <li>to object to the processing of your personal data where it is processed for direct marketing purposes</li>
      <li>to object to the processing of your personal data</li>
    </ul>

    <p class="govuk-body">To exercise your rights please contact the Data Protection Officer using the contact details below.</p>

    <h2 class="govuk-heading-m">Data Protection Officer contact details</h2>
    <p class="govuk-body">
      The data controller for your personal data is the Department for Energy Security and Net Zero (DESNZ). You can contact the DESNZ Data Protection Officer
      at:
    </p>
    <p class="govuk-body">
      <span class="govuk-body">DESNZ Data Protection Officer</span><br />
      <span class="govuk-body">Department for Energy Security and Net Zero</span><br />
      <span class="govuk-body">3-8 Whitehall Place</span><br />
      <span class="govuk-body">London</span><br />
      <span class="govuk-body">SW1A 2EG</span>
    </p>

    <p class="govuk-body">Email: <a href="" class="govuk-link govuk-link--no-visited-state">dataprotection&#64;energysecurity.gov.uk</a></p>
    <p class="govuk-body">
      If you are unhappy with the way we have handled your personal data, please write to the department’s Data Protection Officer in the first instance using
      the contact details above.
    </p>

    <h2 class="govuk-heading-m">Complaints</h2>
    <p class="govuk-body">
      If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is a UK independent
      regulator. The Information Commissioner can be contacted at:
    </p>
    <p class="govuk-body">
      <span class="govuk-body">Information Commissioner's Office</span><br />
      <span class="govuk-body">Wycliffe House</span><br />
      <span class="govuk-body">Water Lane</span><br />
      <span class="govuk-body">Wilmslow</span><br />
      <span class="govuk-body">Cheshire</span><br />
      <span class="govuk-body">SK9 5AF</span>
    </p>

    <p class="govuk-body">
      <span class="govuk-body">Telephone: 0303 123 1113</span><br />
      <span class="govuk-body">
        Web:
        <a href="https://ico.org.uk/make-a-complaint/data-protection-complaints/" class="govuk-link govuk-link--no-visited-state"
          >https://ico.org.uk/make-a-complaint/data-protection-complaints/</a
        >
      </span>
    </p>
    <p class="govuk-body">Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.</p>

    <h2 class="govuk-heading-m">Changes to this policy</h2>
    <p class="govuk-body">
      We may change this privacy policy. In that case, the ‘last updated’ date at the bottom of this page will also change. Any changes to this privacy policy
      will apply to you and your data immediately.
    </p>
    <p class="govuk-body">If these changes affect how your personal data is processed, we will take reasonable steps to let you know.</p>
    <p class="govuk-body">Last updated X October 2024</p>
  </div>
</div>
