<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav aria-label="Back">
      <a [routerLink]="[backButton]" class="govuk-back-link govuk-!-margin-top-5 govuk-!-margin-bottom-5">Back</a>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" aria-live="polite">
    @defer (when isSubmittedOrInReview) {
      <app-review-perfomance-summary
        subtask="heat outputs"
        categoryLabel="Meter type"
        typeLabel="Heat Type"
        measurementUnit="kWh"
        [details]="perfomanceSummary"
        [monthsData]="heatOutputMonths"
        (return)="navigateBack()" />
    } @placeholder {
      <ng-container *ngTemplateOutlet="formSection"></ng-container>
    }
  </div>
</div>

<ng-template #formSection>
  <form [formGroup]="form" (ngSubmit)="onContinue()">
    <app-dynamic-form-errors-summary [formUpdated]="formUpdated" [form]="form" [validationMessages]="validationMessages"> </app-dynamic-form-errors-summary>
    <span class="govuk-caption-l">Heat rejaction facility</span>
    <h1 class="govuk-heading-l">Enter heat outputs for {{ heatOutputTag$ | async }}</h1>
    <div class="govuk-form-group"></div>
    <div class="govuk-form-group">
      <app-govuk-select-input
        [options]="heatTypes"
        controlName="type"
        label="Heat type"
        placeholder="Choose heat type"
        [validationMessages]="validationMessages.type"></app-govuk-select-input>
    </div>
    <div class="govuk-form-group">
      <app-govuk-radio-input
        label="Should this meter be included in CHPQA calculations?"
        description="This will determine if the meter readings will be taken into consideration for the fraction of total fuel input"
        controlName="includeInCalculations"
        [options]="options"
        [validationMessages]="validationMessages.includeInCalculations">
      </app-govuk-radio-input>
    </div>
    @if (isComplex$ | async) {
      <app-govuk-monthly-input
        [monthsData]="heatOutputMonths"
        [validationMessages]="validationMessages.months"
        [unit]="'kWh'">
      </app-govuk-monthly-input>
    } @else {
      <div class="govuk-form-group">
        <app-govuk-unit-input label="Annual total of power outputs" unit="kWh" controlName="annualTotal" [validationMessages]="validationMessages.annualTotal">
        </app-govuk-unit-input>
      </div>
    }
    <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
  </form>
</ng-template>
