<nav aria-label="Back">
  <a [routerLink]="[BACK]" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
</nav>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half" aria-live="polite">
    <span class="govuk-caption-l">Create an account</span>
    <h1 class="govuk-heading-l">Create a password</h1>

    <app-dynamic-form-errors-summary
      [formUpdated]="formUpdated"
      [form]="form"
      [validationMessages]="validationMessages"
      [displaySingleError]="true">
    </app-dynamic-form-errors-summary>

    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div [class]="isPasswordMismatched ? 'govuk-form-group--error' : null">
        <div [class]="passwordHasError ? 'govuk-form-group--error' : null">
          <div
            class="govuk-form-group govuk-password-input"
            data-module="govuk-password-input">
            <div class="govuk-hint govuk-hint--disabled">
              Your password must contain:
              <ul
                class="govuk-list govuk-list--bullet govuk-hint govuk-hint--disabled">
                <li [ngClass]="{
                  'password-complexity-item': form.dirty,
                  'govuk-error-message': passwordComplexityErrors.minLength,
                  'success-validation': form.dirty && !passwordComplexityErrors.minLength}">
                  <img
                    *ngIf="form.dirty"
                    [src]="passwordComplexityErrors.minLength ? ERROR_IMAGE_SRC : CHECK_IMAGE_SRC"
                    alt="Validation icon" />
                  at least 14 characters
                </li>
                <li [ngClass]="{
                  'password-complexity-item': form.dirty,
                  'govuk-error-message': passwordComplexityErrors.hasDigit,
                  'success-validation': form.dirty && !passwordComplexityErrors.hasDigit}">
                  <img
                    *ngIf="form.dirty"
                    [src]="passwordComplexityErrors.hasDigit ? ERROR_IMAGE_SRC : CHECK_IMAGE_SRC"
                    alt="Validation icon" />
                  at least one number
                </li>
                <li [ngClass]="{
                  'password-complexity-item': form.dirty,
                  'govuk-error-message': passwordComplexityErrors.hasNonAlphanumeric,
                  'success-validation': form.dirty && !passwordComplexityErrors.hasNonAlphanumeric}">
                  <img
                    *ngIf="form.dirty"
                    [src]="passwordComplexityErrors.hasNonAlphanumeric ? ERROR_IMAGE_SRC : CHECK_IMAGE_SRC"
                    alt="Validation icon" />
                  at least one symbol
                </li>
              </ul>
            </div>
            <app-password-form-control
              [id]="'password'"
              formControlName="password"></app-password-form-control>
          </div>
        </div>

        <div
          class="govuk-form-group govuk-password-input"
          data-module="govuk-password-input">
          <app-password-form-control
            [id]="'passwordConfirmation'"
            formControlName="passwordConfirmation"
            label="Re-enter your password"></app-password-form-control>
        </div>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
