<div class="govuk-grid-row">
  <nav aria-label="Back">
    <a [routerLink]="[BACK]" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
  </nav>
</div>

@if (form$ | async; as vm) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form [formGroup]="vm.form" [appFormError]="vm.form">
        <div class="govuk-form-group">
          <span class="govuk-caption-l">{{ copy.caption }}</span>
          <h1 class="govuk-heading-l">What SIC code applies to this scheme?</h1>
          <p class="govuk-body">
            These are the SIC codes that are associated to your organisation.
            Select the option most relevant to this scheme.
          </p>

          <div class="govuk-form-group">
            <app-govuk-radio-input
              [controlName]="controlName"
              [options]="sicCodesOptions"
            ></app-govuk-radio-input>
          </div>
        </div>

        <button
          type="submit"
          class="govuk-button"
          data-module="govuk-button"
          (click)="onContinue(vm.form, vm.companySicCodes)"
        >
        {{ copy.continueButton }}
        </button>
      </form>

    </div>
  </div>
}