<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav aria-label="Back">
      <a (click)="goBack()" class="govuk-back-link govuk-!-margin-top-5 govuk-!-margin-bottom-5">Back</a>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" aria-live="polite">
    <app-dynamic-form-errors-summary [formUpdated]="formUpdated" [form]="form" [validationMessages]="validationMessages"> </app-dynamic-form-errors-summary>
    <span class="govuk-caption-l">Energy flow diagram</span>
    <h1 class="govuk-heading-l">Upload your scheme's energy flow diagram</h1>
    <p class="govuk-body">Your energy flow diagram should show:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>all input fuels</li>
      <li>typical flow rates</li>
      <li>heat outputs</li>
      <li>electrical and mechanical power outputs</li>
      <li>clearly defined equipment tags</li>
    </ul>
    <p class="govuk-body">
      You should state if there are different operating modes or significant seasonal or daily load variations (for example, winter average conditions).
    </p>
    <details class="govuk-details" open>
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> See an example of an energy flow diagram </span>
      </summary>
      <div class="govuk-details__text">
        Ensure your tags are clearly marked. If you need to explain your tags, you can provide this in the comments section below.
        <img
          src="assets\images\energy_flow_diagram.png"
          alt="Example of a CHP energy flow diagram showing typical flow rates, heat outputs, electrical and mechanical power outputs"
          style="width: 100%" />
      </div>
    </details>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> What document types can I upload? </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>Microsoft Office documents (Word, Excel, PowerPoint, Visio)</li>
          <li>Image files (jpeg, png, tiff)</li>
          <li>PDF files</li>
          <li>Plain text files (txt)</li>
        </ul>
      </div>
    </details>
    <form [formGroup]="form" *ngIf="energyFlow$ | async">
      <app-govuk-file-input
        controlName="files"
        label="Upload diagram"
        description="Upload up to 25 documents. Each file can be up to 50MB."
        [validationMessages]="validationMessages.files"
        (fileAdded)="onFileAdded($event)"></app-govuk-file-input>
      <app-govuk-file-input-list [filesWithId]="files" (fileDeleted)="deleteFile($event)"></app-govuk-file-input-list>
      <app-govuk-textarea-input label="Your comments (optional)" description="Include anything you think will help your application" controlName="comments">
      </app-govuk-textarea-input>
    </form>
    <button class="govuk-button" data-module="govuk-button" (click)="onContinue()">Continue</button>
  </div>
</div>
