<div class="govuk-form-group" [formGroup]="form">
  <label class="govuk-label" [attr.for]="id">{{ label }}</label>
  <input
    formControlName="password"
    [class]="getInputClass()"
    [id]="id"
    name="password"
    [type]="hide ? 'password' : 'text'" />
  <button
    (click)="toggleHide()"
    type="button"
    class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle"
    aria-controls="password-input"
    [attr.aria-label]="hide ? 'Show password' : 'Hide password'">
    {{ hide ? 'Show' : 'Hide' }}
  </button>
</div>
