<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" aria-live="polite">
    <nav aria-label="Back">
      <a (click)="goBack()" class="govuk-back-link govuk-!-margin-top-5 govuk-!-margin-bottom-5">Back</a>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Contact the Combined Heat and Power Quality Assurance programme helpdesk</h1>

    <p class="govuk-body">
      For general help accessing or using this service, including access to paper forms, you can email us at
      <a href="mailto:chpqainfo@chpqa.com" class="govuk-link govuk-link--no-visited-state">chpqainfo&#64;chpqa.com</a>
    </p>
    <p class="govuk-body">For policy queries, email <a href="mailto:chppolicy@beis.co.uk" class="govuk-link govuk-link--no-visited-state">chppolicy&#64;beis.co.uk</a></p>
    <p class="govuk-body">For help with scheme submissions, email <a href="mailto:submissions@chpqa.com" class="govuk-link govuk-link--no-visited-state">submissions&#64;chpqa.com</a></p>
  </div>
</div>
