<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav aria-label="Back">
      <a (click)="goBack()" class="govuk-back-link govuk-!-margin-top-5 govuk-!-margin-bottom-5">Back</a>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" aria-live="polite">
    <form (ngSubmit)="onContinue()" [formGroup]="form">
      <app-dynamic-form-errors-summary [formUpdated]="formUpdated" [form]="form" [validationMessages]="validationMessages"> </app-dynamic-form-errors-summary>
      <span class="govuk-caption-l">Prime mover details</span>
      <h1 class="govuk-heading-l">Does this reciprocating engine drive a mechanical load?</h1>
      <p class="govuk-body">
        Where a reciprocating engine drives a mechanical load (for example a pump or compressor), the mechanical output will be converted to an equivalent
        electrical output using a multiplying factor of 1.05.
      </p>
      <div class="govuk-form-group">
        <app-govuk-radio-input controlName="mechanicalLoad" [options]="mechanicalLoadOptions" [validationMessages]="validationMessages.mechanicalLoad">
        </app-govuk-radio-input>
      </div>

      <button class="govuk-button" data-module="govuk-button" (click)="onContinue()">Continue</button>
    </form>
  </div>
</div>
