<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav aria-label="Back">
      <a [routerLink]="[BACK]" class="govuk-back-link govuk-!-margin-top-5 govuk-!-margin-bottom-5">Back</a>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" aria-live="polite">
    <app-dynamic-form-errors-summary
      [formUpdated]="formUpdated"
      [form]="form"
      [validationMessages]="validationMessages">
    </app-dynamic-form-errors-summary>
    <form [formGroup]="form" *ngIf="types$ | async as types">
      <span class="govuk-caption-l">Prime mover details</span>
      <h1 class="govuk-heading-l">Select the type of prime mover</h1>
      <div class="govuk-form-group">
        <app-govuk-select-input
          [options]="types"
          controlName="engineType"
          label="Prime mover type"
          widthClass="govuk-!-width-one-half"
          placeholder="Select prime mover type"
          [validationMessages]="
            validationMessages.engineType
          "></app-govuk-select-input>
      </div>
      <button
        class="govuk-button"
        data-module="govuk-button"
        (click)="onContinue()">
        Continue
      </button>
    </form>
  </div>
</div>
