<ng-container *ngIf="areCookiesAccepted === null">
  <div
    id="global-cookie-message-to-accept"
    class="gem-c-cookie-banner"
    role="region"
    aria-label="cookie banner">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div>
            <h2 class="govuk-heading-m">Cookies on CHPQA</h2>
            <p class="govuk-body">
              We use some essential cookies to make this service work.
            </p>
            <p class="govuk-body">
              We'd also like to use analytics cookies so we can understand how
              you use the service and make improvements.
            </p>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <button
                class="govuk-button govuk-cookie-button"
                (click)="acceptCookies()">
                Accept analytics cookies
              </button>
            </div>
            <div class="govuk-grid-column-one-third">
              <button
                class="govuk-button govuk-cookie-button"
                (click)="rejectCookies()">
                Reject analytics cookies
              </button>
            </div>
            <div class="govuk-grid-column-one-third">
              <a
                [routerLink]="['/cookies']"
                (click)="viewCookies()"
                class="view-cookies-link govuk-link govuk-link--no-visited-state"
                >View cookies</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="showConfirmation">
  <div
    id="global-cookie-message-approval"
    class="gem-c-cookie-banner govuk-clearfix"
    aria-label="cookie banner">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
            You’ve {{ areCookiesAccepted ? 'accepted' : 'rejected' }} the
            analytics cookies. You can change your cookie settings at any time
            by using the relevant link at the bottom of the page
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <button
            type="button"
            class="govuk-button"
            data-module="govuk-button"
            (click)="hideCookieMessage()">
            Hide cookie message
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
