<div class="govuk-grid-row govuk-!-margin-top-20">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Email address confirmed</h1>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">You can continue to create an account.</p>
        <button
          (click)="onContinue()"
          skipLocationChange
          type="button"
          class="govuk-button"
          data-module="govuk-button">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
