<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-7">
    <h1 class="govuk-heading-l">Manage your Combined Heat and Power Quality Assurance programme submissions</h1>
    <p class="govuk-body">Responsible Persons (RPs) and consultants can use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>create a new CHPQA scheme on behalf of an organisation</li>
      <li>submit scheme information to apply for or renew a certificate (which gives access to various financial incentives)</li>
    </ul>
    <p class="govuk-body">Assessors, auditors and certifiers can use this service to manage submissions made by RPs or consultants.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> Why apply for certification? </span>
      </summary>
      <div class="govuk-inset-text">
        <p>CHPQA certification means that certified CHP plants can access government support through various financial incentives.</p>
        <p>
          These incentives are provided to improve the commercial case for investing in Good Quality CHP, due to its relatively long payback period,
          environmental benefit and technical complexity.
        </p>
        <p>They are mostly operational in nature, meaning that CHP plants must maintain their certified status annually to continue to access the support.</p>
        <p>The main incentives that certified plants can access include:</p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2">
          <li>exemption from the main rates of Climate Change Levy and fuel-oil duty</li>
          <li>exemption from the Carbon Price Support tax</li>
          <li>exemption from Business Rates of Power Generating Plant and Machinery</li>
          <li>the Enhanced Capital Allowance</li>
        </ul>

        <p class="govuk-body">
          <a href="https://www.gov.uk/guidance/combined-heat-power-quality-assurance-programme" class="govuk-link govuk-link--no-visited-state"
            >Read more about eligibility and incentives</a
          >
        </p>
      </div>
    </details>

    <h2 class="govuk-heading-m">What you'll need</h2>

    <p class="govuk-body">To register your scheme you'll need to provide details and diagrams of equipment and meters used at your site.</p>
    <p class="govuk-body">Depending on your scheme, you might also need monthly or annual figures for fuel and heat used, and power generated.</p>

    <a routerLink="." (click)="login()" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Sign in to the CHPQA service
      <svg
        class="govuk-button__start-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="17.5"
        height="19"
        viewBox="0 0 33 40"
        aria-hidden="true"
        focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

    <h2 class="govuk-heading-m">Who can register for an account</h2>
    <p class="govuk-body">You can register for an account if you are a Responsible Person for an organisation or a consultant.</p>

    <p class="govuk-body">A Responsible Person is someone who creates, renews, or self-assesses a scheme on behalf of an organisation.</p>

    <h2 class="govuk-heading-m">Create an account</h2>

    <p class="govuk-body">You can create an account to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>register and self-assess a scheme</li>
      <li>apply for or renew a certificate</li>
    </ul>

    <a
      routerLink="/registration-request"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--secondary govuk-button--start"
      data-module="govuk-button">
      Create account
    </a>
  </div>
</div>
