<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" aria-live="polite">
    <nav aria-label="Back">
      <a [routerLink]="getBackLink()" skipLocationChange class="govuk-back-link govuk-!-margin-top-5 govuk-!-margin-bottom-5"> Back </a>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" aria-live="polite">
    <span class="govuk-caption-l">{{ formCaption }}</span>
    <h1 class="govuk-heading-l">{{ formHeader }}</h1>
    <p class="govuk-body">{{ description1 }}</p>
    @if (description2) {
      <p class="govuk-body">{{ description2 }}</p>
    }
    <h2 class="govuk-heading-m govuk-!-margin-top-9">{{ subheading }}</h2>
  </div>

  <div class="govuk-grid-column-full" aria-live="polite">
    <dl class="govuk-summary-list">
      <ng-container *ngFor="let field of comments">
        <div class="govuk-summary-list__row govuk-!-padding-left-0">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">{{ field.name }}</dt>
          <dd class="govuk-summary-list__value">
            {{ field.assessmentComment }}
          </dd>
          <ng-container *ngIf="latestSubmissionStatus === 8 || latestSubmissionStatus === 10; else readOnly">
            <a class="govuk-link" (click)="dispatchAndNavigate(field)">{{textButton}}</a>
          </ng-container>
          <ng-template #readOnly>
          </ng-template>
        </div>
      </ng-container>
    </dl>
  </div>
</div>
