<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"></div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">{{ copy.screen2.heading }}</h1>
    </div>
    <h2 class="govuk-heading-m govuk-!-margin-top-9">{{ copy.screen2.subheading }}</h2>
    <p class="govuk-body">{{ copy.screen2.description1 }}</p>
    <p class="govuk-body">{{ copy.screen2.description2 }}</p>
    <button type="submit" class="govuk-button govuk-!-margin-top-9" data-module="govuk-button" (click)="onSubmit()">
      {{ copy.screen2.button }}
    </button>
  </div>
</div>
