<div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          BETA
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your
          <a class="govuk-link" [routerLink]="['/']">feedback</a> will help us
          to improve it.
        </span>
      </p>
    </div>
    <br />

    <div class="govuk-!-margin-top-3">
      <h1 class="govuk-heading-l">For your security, we signed you out</h1>
      <p class="govuk-body">You will need to sign in again.</p>
      <a href="/landing" role="button" class="govuk-button govuk-button--start">
        Sign in
      </a>
    </div>
  </div>
</div>
