<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav aria-label="Back">
      <a [routerLink]="[BACK]" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    </nav>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Create Account</span>
    <h1 class="govuk-heading-l">Terms and conditions for the Combined Heat and Power Quality Assurance programme</h1>
    <p class="govuk-body">These Terms and Conditions (Terms) govern your use of the Combined Heat and Power Quality Assurance programme (CHPQA).</p>
    <p class="govuk-body">You must accept these Terms to complete the registration of your account.</p>

    <h2 class="govuk-heading-m">Purpose of the CHPQA Programme</h2>
    <p class="govuk-body">The CHPQA programme has been established for the following purposes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        To facilitate the electronic submission of applications, information, and reports by Responsible Persons involved in Combined Heat and Power (CHP)
        schemes.
      </li>
      <li>To enhance communication between Responsible Persons, Assessors, Certifiers, Auditors and Administrators regarding CHP systems.</li>
      <li>To ensure compliance with relevant regulations governing CHP systems in the UK.</li>
    </ul>
    <p class="govuk-body">  All information submitted through the CHPQA programme will be transmitted electronically to the appropriate Assessor.</p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">1.Legal Notices</h2>
    <h2 class="govuk-heading-m">1.1 Definitions</h2>

    <ul class="govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-list govuk-list--bullet govuk-!-margin-left-2">
      <li>
        "Responsible Person" refers to any individual or organization responsible for the operation of a CHP system as defined in the relevant regulations. 
      </li>
      <li>"Assessor" refers to an independent party that verifies the performance and compliance of CHP systems according to the CHPQA standards. </li>
      <li>"Certifier" refers to the authority responsible for overseeing the CHPQA programme and ensuring compliance with regulations. </li>
      <li>"Auditor" refers to an independent party that is responsible for the auditing of certain organisations which are selected by DESNZ </li>
      <li>"Administrator" refers to an independent party that is responsible for overall management of the CHPQA programme, </li>
      <li>"CHPQA" means the Combined Heat and Power Quality Assurance programme. </li>
      <li>"Terms" means these Terms and Conditions governing your use of the CHPQA programme. </li>
      <li>"You" / "Your" refers to any Responsible Person, Assessor, Certifier or representative using the CHPQA programme. </li>
    </ul>
     

    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">2. Status of Terms</h2>
    <h2 class="govuk-heading-m">2.1 Acceptance of Terms</h2>

    <ul class="govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-list govuk-list--bullet govuk-!-margin-left-2">
      <li>2.1.1 These Terms govern your access to and use of the CHPQA programme. </li>
      <li>2.1.2 By clicking the "Accept" button during registration, you agree to be bound by these Terms. </li>
      <li>
        2.1.3 If you are using the CHPQA programme service as a visitor, continuing to use any part of the programme indicates your acceptance of the latest
        version of these Terms. If you disagree with any part of these Terms, please stop using the CHPQA programme service immediately. 
      </li>
    </ul>

    <h2 class="govuk-heading-m">3. Modifications</h2>

    <ul class="govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-list govuk-list--bullet govuk-!-margin-left-2">
      <li>
        3.1 We may revise these Terms at any time, so you should check the CHPQA programme service regularly to ensure that you are aware of the latest version
        of these Terms. 
      </li>
      <li>
        3.2 The CHPQA programme is subject to change without notice at any time. We reserve the right to make any alterations, corrections, or improvements
        (including adding functionality) or to withdraw or correct any errors in any portion of the CHPQA programme without notice. 
      </li>
      <li>
        3.3 These Terms apply to the whole of the CHPQA programme, including both the public areas accessible to visitors and the secure areas, which may only
        be accessed and used by Responsible Persons, Assessors, Certifiers, Administrators and their authorized representatives with specific access rights
        granted by us. 
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">4. Access to Secure Areas </h2>
    <h2 class="govuk-heading-m">4.1 Your Representatives</h2>
    <ul class="govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-list govuk-list--bullet govuk-!-margin-left-2">
      <li>4.1.1 You are responsible for ensuring that your Representatives comply with these Terms. </li>
      <li>
        4.1.2 Representatives nominated by you are acting as your agent, and you are responsible for their actions and omissions related to the CHPQA
        programme. 
      </li>
      <li>
        4.1.3 An Assessor is entitled to assume that any requests, submissions, or communications made using a valid username and password are authentic and
        validly made on your behalf, with your full authority. 
      </li>
      <li>
        4.1.4 You must inform us immediately if any Representative ceases to be authorized by you. We will deactivate the relevant username as soon as
        practicable. 
      </li>
    </ul>

    <h2 class="govuk-heading-m">4.2 Limited Access and Security </h2>
    <ul class="govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-list govuk-list--bullet govuk-!-margin-left-2">
      <li>4.2.1 In this section, "You" includes your Representatives. </li>
      <li>
        4.2.2 Your rights to access the secure areas of the CHPQA programme service are limited to the level of access you have been granted. You must not
        attempt to access any part of the service to which you do not have express rights. 
      </li>
      <li>
        4.2.3 You will enter an email address and created a password to access the CHPQA programme service. You must use the password only for access to secure
        areas of the service. 
      </li>
      <li>4.2.4 You must keep your password confidential and must not share it or allow anyone else to use it. </li>
      <li>
        4.2.5 You are responsible for the security and integrity of the computer you use to access the secure areas of the CHPQA programme service. This
        includes: 
      </li>
      <ul>
        <li>(a) Installing good quality anti-virus software and ensuring it is up to date. </li>
        <li>(b) Ensuring you are entering your username and password on the correct website.</li>
        <li>(c) Following good practices for internet safety, including complying with any security directions provided by us. </li>
      </ul>
      <li>
        4.2.6 You are responsible for any consequences of failing to comply with your obligations under these Terms, including financial consequences. Any
        breach of these Terms by anyone you disclose your password to will be treated as if you committed the breach. 
      </li>
      <li>4.2.7 You must notify us immediately if you become aware of any unauthorised use of a username or password or any security breach. </li>
      <li>
        4.2.8 If there is any failure or error in the operation of a password, you must stop using it, exit the CHPQA programme service immediately, and notify
        us. 
      </li>
      <li>4.2.9 You must cease to use and delete your password upon the expiry or termination of your right to use the CHPQA programme service. </li>
      <li>4.2.10 We reserve the right to change your password and username at any time. </li>
      <li>4.2.11 You may change your account email address and password at any time </li>
      <li>4.2.12 You must log out of the secure area at the end of each session according to the instructions in the CHPQA programme. </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">5. Use of CHPQA  </h2>
    <h2 class="govuk-heading-m">5.1 Permitted Use</h2>
    <ul class="govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-list govuk-list--bullet govuk-!-margin-left-2">
      <li>5.1.1 The secure areas of the CHPQA programme service may only be used: </li>
      <ul>
        <li>
          (a) By Responsible Persons, Assessors, Certifiers, Auditors, Administrators and their Representatives who have been granted access rights by us. 
        </li>
        <li>(b) For submitting information to an Assessor as required by relevant regulations and for communicating with them</li>
      </ul>
    </ul>

    <h2 class="govuk-heading-m">5.2 Prohibited Use</h2>
    <ul class="govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-list govuk-list--bullet govuk-!-margin-left-2">
      <li>You will not:</li>

      <ul>
        <li>(a) Reverse engineer, translate, adapt, or modify any software used in the CHPQA programme. </li>
        <li>
          (b) Damage or attempt to damage the software or data used in the CHPQA programme, including introducing malware or attempting unauthorized access. 
        </li>
        <li>(c) Create links to the CHPQA programme from any other website without our permission. </li>
        <li>(d) Use the CHPQA programme in a way that infringes the rights of anyone assigned to the administration of the programme, or any third party. </li>
      </ul>
    </ul>

    <h2 class="govuk-heading-m">6. Third-Party Sites and Hyperlinking </h2>
    <ul class="govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-list govuk-list--bullet govuk-!-margin-left-2">
      <li>
        6.1 We may link the CHPQA programme to other websites that we do not control. We provide these links for convenience and are not responsible for the
        content or availability of those websites. Inclusion of hyperlinks does not imply endorsement of the views or information contained in those websites. 
      </li>
    </ul>
    <h2 class="govuk-heading-m">7. Disclaimers </h2>
    <ul class="govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-list govuk-list--bullet govuk-!-margin-left-2">
      <li>7.1 We do not guarantee the accuracy, reliability, completeness, or continuous availability of the content within the CHPQA programme. </li>
      <li>7.2 We expressly disclaim any warranties regarding the CHPQA programme, to the extent permitted by law. </li>
      <li>7.3 We do not warrant that the CHPQA programme will be free from errors or harmful applications. </li>
      <li>7.4 We do not endorse any products or services offered in the CHPQA programme.</li>
    </ul>

    <h2 class="govuk-heading-m">8. Liability </h2>
    <ul class="govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-list govuk-list--bullet govuk-!-margin-left-2">
      <li>
        8.1 To the maximum extent permitted by law, we accept no liability for any claims or damages related to the CHPQA programme that you or your
        Representatives may incur. 
      </li>
      <li>8.2 This includes liability for the introduction of malware or unauthorized access attempts. </li>
      <li>8.3 Nothing in these Terms limits our liability for fraud or personal injury caused by negligence</li>
    </ul>

    <h2 class="govuk-heading-m">9. Intellectual Property Rights </h2>
    <ul class="govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-list govuk-list--bullet govuk-!-margin-left-2">
      <li>9.1 All intellectual property rights in the content and layout of the CHPQA programme are owned by us or our licensors. </li>
      <li>9.2 You will not alter or remove any proprietary marks or notices. </li>
      <li>9.3 You may view, download, or print content for your own use, provided you do not modify it and retain this Clause. </li>
      <li>9.4 You must not use the content for commercial gain</li>
    </ul>

    <h2 class="govuk-heading-m">10. Confidentiality </h2>
    <ul class="govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-list govuk-list--bullet govuk-!-margin-left-2">
      <li>10.1 We will not disclose any information provided to us except as permitted by law or as required by the relevant regulations. </li>
    </ul>

    <h2 class="govuk-heading-m">11. Suspension and Termination of Access to CHPQA</h2>
    <ul class="govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-list govuk-list--bullet govuk-!-margin-left-2">
      <li>11.1 We may suspend the operation of the CHPQA programme for maintenance or updates. </li>
      <li>11.2 We may suspend or terminate your access immediately if we believe you have breached these Terms. </li>
      <li>11.3 Certain provisions will survive termination of access. </li>
    </ul>

    <h2 class="govuk-heading-m">12. General </h2>
    <ul class="govuk-!-margin-top-8 govuk-!-margin-bottom-8 govuk-list govuk-list--bullet govuk-!-margin-left-2">
      <li>12.1 These Terms are governed by the laws of England. Any disputes will be resolved in the courts of England and Wales. </li>
      <li>12.2 The language of these Terms is English, and the English text prevails in case of translation. </li>
      <li>12.3 If any provision is found to be unenforceable, the remaining provisions will remain in effect. </li>
      <li>12.4 These Terms represent the entire agreement between you and us regarding your use of the CHPQA programme. </li>
      <li>12.5 Nothing in these Terms affects an Assessor’s rights and responsibilities. </li>
      <li>12.6 No third parties have rights under these Terms. </li>
      <li>12.7 Unless otherwise stated, terms like "other," "include," and "including" do not limit anything. </li>
      <li>12.8 You may not transfer your rights and obligations under these Terms to any third party. </li>
    </ul>
    <a [routerLink]="[BACK]" role="button" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">Return to Declaration</a>
  </div>
</div>
